# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
env/
venv/
ENV/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables and secrets
.env

# Logs
logs/
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Data files and reports
data/
reports/